{
    serverTypes : {
        "simple" : "com.tacitknowledge.slowlight.proxyserver.server.simple.SimpleServer",
        "proxy" : "com.tacitknowledge.slowlight.proxyserver.server.proxy.ProxyServer"
    },

    "servers" : [
        {
            "id" : "testServer1",
            "type" : "simple",
            "localPort" : "9011",
            "handlers" : [
                {
                    "name" : "closeConnectionHandler",
                    "type" : "com.tacitknowledge.slowlight.proxyserver.handler.EchoChannelHandler"
                }
            ]
        },

        {
            "id" : "testServer2",
            "type" : "proxy",
            "localPort" : "9012",
            "params" : {
                "host" : "localhost",
                "port" : "8080"
            },
            "handlers" : [
                {
                    "name" : "delayHandler",
                    "type" : "com.tacitknowledge.slowlight.proxyserver.handler.DelayChannelHandler",
                    "params" : {"maxDataSize" : "0", "delay" : "500"},
                    "behaviorFunctions" : [
                        {
                            "paramName" : "delay",
                            "type" : "com.tacitknowledge.slowlight.proxyserver.handler.behavior.SinusoidalBehavior"
                        }
                    ]
                },
                {
                    "name" : "logHandler",
                    "type" : "com.tacitknowledge.slowlight.proxyserver.handler.LogChannelHandler"
                }
            ]
        }
    ]
}