{
    serverTypes : {
        "simple" : "com.tacitknowledge.slowlight.proxyserver.server.simple.SimpleServer",
        "proxy" : "com.tacitknowledge.slowlight.proxyserver.server.proxy.ProxyServer"
    },

    "servers" : [
        {
            "id" : "testServer",
            "type" : "simple",
            "localPort" : "9011",
            "handlers" : [
                {
                    "name" : "closeConnectionHandler",
                    "type" : "com.tacitknowledge.slowlight.proxyserver.handler.CloseConnectionChannelHandler",
                    "params" : {"closeConnectionAfter" : "60000"}
                },
                {
                    "name" : "discardHandler",
                    "type" : "com.tacitknowledge.slowlight.proxyserver.handler.DiscardChannelHandler"
                }
            ]
        },

        {
            "id" : "solr2",
            "type" : "proxy",
            "localPort" : "9012",
            "params" : {
                "host" : "localhost",
                "port" : "8983"
            },
            "handlers" : [
                {
                    "name" : "delayHandler",
                    "type" : "com.tacitknowledge.slowlight.proxyserver.handler.DelayChannelHandler",
                    "params" : {"maxDataSize" : "0", "delay" : "500"}
                },
                {
                    "name" : "closeConnectionHandler",
                    "type" : "com.tacitknowledge.slowlight.proxyserver.handler.CloseConnectionChannelHandler",
                    "params" : {"closeConnectionAfter" : "10000"}
                }
            ]
        }
    ]
}