{
    "rules" : [
        {
            "serviceDemandTime" : "100",
            "serviceTimeout" : "3000",
            "passRate" : "15",
            "threads" : "10",
            "randomExceptions" : ["java.lang.Exception", "java.rmi.RemoteException"],

            "applyTo" : {
                "test.Class1" : ["method1"],
                "test.Class2" : ["method2", "method3", "method5"]
            }
        },
        {
            "serviceDemandTime" : "100",
            "serviceTimeout" : "3000",
            "passRate" : "15",
            "threads" : "10",

            "applyTo" : {
                "test.Class3" : ["method2", "method3"]
            }
        }
    ]
}
