{
    "rules" : [
        {
            "serviceDemandTime" : "100",
            "serviceTimeout" : "2000",
            "passRate" : "80",
            "threads" : 16,

            "applyTo" : {
                "com.tacitknowledge.slowlight.proxyserver.server.TestSlowlightServer" : ["method", "method1", "method2"],
                "com.tacitknowledge.slowlight.proxyserver.server.OtherClass" : ["method"]
            }
        },
        {
            "serviceDemandTime" : "50",
            "serviceTimeout" : "3000",
            "passRate" : "50",
            "threads" : 16,

            "applyTo" : {
                "com.tacitknowledge.slowlight.proxyserver.server.TestSlowlightServer" : ["method", "start", "method2"],
                "com.tacitknowledge.slowlight.proxyserver.server.OtherClass" : ["method"]
            }
        }
    ]
}